<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Job Status</title>
	<link href="/bootstrap/@BOOTSTRAP_VERSION@/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>
  <body ng-app="corbApp" ng-controller="jobCtrl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Job Status</h3>
            </div>
            <div class="row top-buffer">
              <div class="col-xs-8 col-sm-8">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped {{jobStatus === 'completed' ? '' : 'active'}}"
                      role="progressbar" style="width:{{successPercent}}%"
                      aria-valuenow="{{successPercent}}" aria-valuemin="0" aria-valuemax="100"
                      data-placement="bottom" data-toggle="tooltip" title="{{successTotals}}"
                    >
                        Success ({{successPercent | number : 2}}%)
                    </div>
                    <div class="progress-bar progress-bar-danger progress-bar-striped {{jobStatus === 'completed' ? '' : 'active'}}" role="progressbar" style="width:{{failedPercent}}%"
                      aria-valuenow="{{failedPercent}}" aria-valuemin="0" aria-valuemax="100"
                      data-placement="bottom" data-toggle="tooltip" title="{{failedTotals}}">
                        Failed ({{failedPercent | number : 2}}%)
                    </div>

                    <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{allDone}}%"
                      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        Job Completed. Please check the logs.
                    </div>
                  </div>
              </div>
              <div class="col-xs-2 col-sm-2">
                <button class="btn {{pauseButtonStyle}}" ng-click="pauseResumeButtonClick()">
                    <md-icon ng-hide="loading" class="glyphicon {{i.paused ? 'glyphicon-play' : 'glyphicon-pause'}}"></md-icon>
                    <md-icon ng-if="loading" class="glyphicon glyphicon-refresh"></md-icon>
                    <span>{{pauseButtonText}}</span>
                </button>
              </div>
              <div class="col-xs-2 col-sm-2">
                <ng-form>
                  <label>Threads</label>
                  <select class="custom-select" ng-options="i for i in allThreadCounts" ng-model="threadCount" ng-change="updateThreadCount()"></select>
                </ng-form>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Job Description
                      </div>
                      <div class="panel-body">
                          <dl>
                              <dt>Job Run Location</dt>
                              <dd>{{::job.runLocation}}</dd>
                              <dt>Job Name</dt>
                              <dd>{{::job.name}}</dd>
                              <dt>Job ID</dt>
                              <dd>{{::job.id}}</dd>
                              <dt>Host</dt>
                              <dd>{{::job.host}}</dd>
                              <dt>Start Time</dt>
                              <dd>{{::job.startTime}}</dd>
                              <dt>Thread Count</dt>
                              <dd>{{job.currentThreadCount}}</dd>
                          </dl>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Progress
                      </div>
                      <div class="panel-body">
                          <dl>
                              <dt>Total Number Of Tasks</dt>
                              <dd>{{::totalNumberOfTasks | number : 0}}</dd>
                              <dt>Number Of Failed Tasks</dt>
                              <dd>{{job.numberOfFailedTasks | number : 0}} ({{failedPercent}}%)</dd>
                              <dt>Number Of Succeeded Tasks</dt>
                              <dd>{{job.numberOfSucceededTasks | number : 0}} ({{successPercent}}%)</dd>
                              <dt>Job Duration</dt>
                              <dd>{{jobDuration}}</dd>
                          </dl>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Performance stats
                      </div>
                      <div class="panel-body">
                          <dl class="dl-horizontal">
                              <dt>Init Task Time </dt>
                              <dd>{{msToTime(initTaskTimeInMillis )}}</dd>
                              <dt>Pre-Batch Run Time</dt>
                              <dd>{{ msToTime(preBatchRunTimeInMillis) }}</dd>
                              <dt>URIs Load Time</dt>
                              <dd>{{ msToTime(urisLoadTimeInMillis) }}</dd>
                              <dt>Average Tps</dt>
                              <dd>{{job.averageTransactionsPerSecond | number : 2}}</dd>
                              <dt>Current Tps</dt>
                              <dd>{{job.currentTransactionsPerSecond | number : 2}}</dd>
                              <dt>Estimated time left</dt>
                              <dd>{{job.estimatedTimeOfCompletion}}</dd>
                              <dt>Post Batch Run Time</dt>
                              <dd>{{ msToTime(job.postBatchRunTimeInMillis) }}</dd>
                          </dl>
                      </div>
                  </div>
              </div>
            </div>
            <div class = "row">
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    User Provided Options
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                      <tr>
                          <th>Name</th>
                          <th>Value</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="(key,value) in userProvidedOptions">
                          <td>{{::key}}</td>
                          <td>{{::value}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/jquery/@JQUERY_VERSION@/jquery.slim.min.js"></script>
    <script src="/angularjs/@ANGULAR_VERSION@/angular.min.js"></script>
    <script src="/bootstrap/@BOOTSTRAP_VERSION@/js/bootstrap.min.js"></script>
    <script src="/js/corbApp.js"></script>
  </body>
</html>
